<%- include ('templates/header') %>

<p>
    For every kind of application there is a data structure that is favored among the others.
    B-tree indexes for data retrieval, while compiler implementations usually use harsh tables
    to look up identifiers. Data structures provide a means to manage large amounts of data efficiently
    for uses such as large databases and internet indexing services. 

    The implementations of a data structure usually require writing a set of methods to create and
    manipulate instances of that structure.
</p>
<figure id="pic">
    <img width="50%" src="img/ADT.jpg" alt="ADT" />
</figure>

<%- include ('templates/footer') %>
