<%- include ('templates/header') %>

<br/><br/>
<main>
    <div id="welcomeText">
      <br><br>
      <h2><center>Welcome <%=randomName%></center></h2>
        <br/>
        <p>
            Data Structures are an important topic that every Computer Science student must understand.
            A data structure is a data organization storage format that enables efficient access and modification.

        </p>
    </div>
    <figure id="pic">
        <img width="50%" src="img/LeaningStructs.png" alt="Learning Data Structures is easy!" />
    </figure>
</main>

<%- include ('templates/footer')%>
