<%- include ('templates/header') %>

<p>
    <a href="https://en.wikipedia.org/wiki/Data_structure"> Wikipedia</a>
</p>
<p>
    <a href="https://www.geeksforgeeks.org/data-structures/">GeeksforGeeks</a>
</p>
<figure id="pic">
    <img width="50%" src="img/data-structure.jpg" alt="Data Structures" />
</figure>

<%- include ('templates/footer') %>
