<%- include ('templates/header') %>

<p><Strong>Types of Data Structures</Strong></p>
      <div class="typesTable">
          <li>
              <strong class="types">Array</strong>
          </li>
          <li>
              <strong class="types">Stack</strong>
          </li>
          <li>
              <strong class="types">Queue</strong>
          </li>
          <li>
              <strong class="types">Linked-List</strong>

          </li>
          <li>
              <strong class="types">Graph</strong>
          </li>
          <li>
              <strong class="types">Tree</strong>
          </li>
      </div>
      <figure id="pic">
          <img width="50%" src="img/DataStructs.png" alt="types" />
      </figure>

<%- include ('templates/header') %>
