<footer>
    <hr>
    <h6>CST336 Internet Programming. 2020&copy; Welham <br />
    <strong>Disclaimer:</strong> The information in this webpage is fictious. <br />
    It is used for academic purposes only.
    <h6>
</footer>
</body>

</html>
